<!--The content below is only a placeholder and can be replaced.-->
  <!--<h1>Galeria Foto</h1>
  <h1>{{ title }}</h1>
  <br>
  <img width="75%" alt="O que e Angular" src="src/angular.png" class="img-thumbnail">-->
  <h1>Leonardo</h1>
  <app-photos url='https://http2.mlstatic.com/kit-com-sementes-de-ip-D_NQ_NP_104905-MLB25084635190_102016-F.jpg'
  descricao: 'ipe' ></app-photos>
  <app-photos url='https://i.ytimg.com/vi/UXZGc6gcueQ/maxresdefault.jpg'></app-photos>

